

// Nunito Font
@font-face {
    font-family: "Nunito";
    font-weight: 100;
    font-style: italic;
    src: url("../fonts/Nunito/Nunito-ExtraLightItalic.ttf");
}
.text-style-nunito-thin-itallic{
    font-family: "Nunito";
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Nunito";
    font-weight: 100;
    font-style: normal;
    src: url("../fonts/Nunito/Nunito-ExtraLight.ttf");
}
.text-style-nunito-thin{
    font-family: "Nunito";
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    font-weight: 200;
    font-style: italic;
    src: url("../fonts/Nunito/Nunito-ExtraLightItalic.ttf");
}
.text-style-nunito-extralight-itallic{
    font-family: "Nunito";
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "Nunito";
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/Nunito/Nunito-ExtraLight.ttf");
}
.text-style-nunito-extralight{
    font-family: "Nunito";
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/Nunito/Nunito-LightItalic.ttf");
}
.text-style-nunito-lightitallic{
    font-family: "Nunito";
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Nunito";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Nunito/Nunito-Light.ttf");
}
.text-style-nunito-light{
    font-family: "Nunito";
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/Nunito/Nunito-Regular.ttf");
}
.text-style-nunito-regularitallic{
    font-family: "Nunito";
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Nunito";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Nunito/Nunito-Regular.ttf");
}
.text-style-nunito-regular{
    font-family: "Nunito";
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    font-weight: 600;
    font-style: italic;
    src: url("../fonts/Nunito/Nunito-SemiBoldItalic.ttf");
}
.text-style-nunito-semibold-itallic{
    font-family: "Nunito";
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Nunito";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/Nunito/Nunito-SemiBold.ttf");
}
.text-style-nunito-semibold{
    font-family: "Nunito";
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/Nunito/Nunito-BoldItalic.ttf");
}
.text-style-nunito-bold-itallic{
    font-family: "Nunito";
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Nunito";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Nunito/Nunito-Bold.ttf");
}
.text-style-nunito-bold{
    font-family: "Nunito";
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    font-weight: 800;
    font-style: italic;
    src: url("../fonts/Nunito/Nunito-ExtraBoldItalic.ttf");
}
.text-style-nunito-extrabold-itallic{
    font-family: "Nunito";
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: "Nunito";
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/Nunito/Nunito-ExtraBold.ttf");
}
.text-style-nunito-extrabold{
    font-family: "Nunito";
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Nunito";
    font-weight: 900;
    font-style: italic;
    src: url("../fonts/Nunito/Nunito-BlackItalic.ttf");
}
.text-style-nunito-black-itallic{
    font-family: "Nunito";
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "Nunito";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/Nunito/Nunito-Black.ttf");
}
.text-style-nunito-black{
    font-family: "Nunito";
    font-weight: 900;
    font-style: normal;
}